modules = ["python-3.11"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41792950
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd GoldSight-Telegram-Bot && python3 main.py"

[deployment]
run = ["sh", "-c", "cd GoldSight-Telegram-Bot && python3 main.py"]

[[ports]]
localPort = 8080
externalPort = 80
